.btn{
    margin-top: 50px;
    font-weight: bold;
    background-color: #FEF08A;
    border-radius: 15px;
    padding: 15px 20px;
    cursor: pointer;
    transition: transform .1s linear;
  }
  
  .btn:hover{
    transform: scale(1.1)
  }
  